<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <h1 layout:fragment="header">Index</h1>
    <div layout:fragment="content">Some Fake content</div>


    <form action="#" th:action="@{/sg/add}" th:object="${subjectGroup}" method="POST">
        <p><input type="text" th:field="*{name}" placeholder="Name..."/></p>
        <h3>Options</h3>
        <button type="submit" name="addOption">Add Option</button>
        <table>
            <tr th:each="option, rowStat : *{options}">
                <td><input type="text" th:field="*{options[__${rowStat.index}__].label}" placeholder="Option..."/></td>
            </tr>
        </table>
        <button type="submit">Add</button>
    </form>
</div>
</body>
</html>

http://stingh711.github.io/dynamic-form-with-springmvc-and-thymeleaf.html

